@font-face {
  font-family: "Conv_HelveticaNeueCyr-UltraLight";
  src: url("./../../fonts/Hel-UL/HelveticaNeueCyr-UltraLight.eot");
  src: local("☺"),
    url("./../../fonts/Hel-UL/HelveticaNeueCyr-UltraLight.woff") format("woff"),
    url("./../../fonts/Hel-UL/HelveticaNeueCyr-UltraLight.ttf")
      format("truetype"),
    url("./../../fonts/Hel-UL/HelveticaNeueCyr-UltraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_HelveticaNeueCyr-Thin";
  src: url("./../../fonts/Hel-THIN/HelveticaNeueCyr-Thin.eot");
  src: local("☺"),
    url("./../../fonts/Hel-THIN/HelveticaNeueCyr-Thin.woff") format("woff"),
    url("./../../fonts/Hel-THIN/HelveticaNeueCyr-Thin.ttf") format("truetype"),
    url("./../../fonts/Hel-THIN/HelveticaNeueCyr-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_HelveticaNeueCyr-Roman";
  src: url("./../../fonts/Hel-ROMAN/HelveticaNeueCyr-Roman.eot");
  src: local("☺"),
    url("./../../fonts/Hel-ROMAN/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("./../../fonts/Hel-ROMAN/HelveticaNeueCyr-Roman.ttf") format("truetype"),
    url("./../../fonts/Hel-ROMAN/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_HelveticaNeueCyr-Light";
  src: url("./../../fonts/Hel-L/HelveticaNeueCyr-Light.eot");
  src: local("☺"),
    url("./../../fonts/Hel-L/HelveticaNeueCyr-Light.woff") format("woff"),
    url("./../../fonts/Hel-L/HelveticaNeueCyr-Light.ttf") format("truetype"),
    url("./../../fonts/Hel-L/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_HelveticaNeueCyr-Italic";
  src: url("./../../fonts/Hel-ITALIC/HelveticaNeueCyr-Italic.eot");
  src: local("☺"),
    url("./../../fonts/Hel-ITALIC/HelveticaNeueCyr-Italic.woff") format("woff"),
    url("./../../fonts/Hel-ITALIC/HelveticaNeueCyr-Italic.ttf")
      format("truetype"),
    url("./../../fonts/Hel-ITALIC/HelveticaNeueCyr-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_HelveticaNeueCyr-Bold";
  src: url("./../../fonts/Hel-BOLD/HelveticaNeueCyr-Bold.eot");
  src: local("☺"),
    url("./../../fonts/Hel-BOLD/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("./../../fonts/Hel-BOLD/HelveticaNeueCyr-Bold.ttf") format("truetype"),
    url("./../../fonts/Hel-BOLD/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_HelveticaNeueCyr-Black";
  src: url("./../../fonts/Hel-BLACK/HelveticaNeueCyr-Black.eot");
  src: local("☺"),
    url("./../../fonts/Hel-BLACK/HelveticaNeueCyr-Black.woff") format("woff"),
    url("./../../fonts/Hel-BLACK/HelveticaNeueCyr-Black.ttf") format("truetype"),
    url("./../../fonts/Hel-BLACK/HelveticaNeueCyr-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
